h1 {
  text-align: center;
}

#gridZone {
  display: grid;
  /* grid-template-columns: repeat(8, 20px); */
  width: fit-content;
  margin: auto;
}
.cell {
  width: 20px;
  height: 20px;
  border: 1px solid lightgray;
  background-color: #d2dae2;
}

.snake {
  background-color: rgb(19, 116, 19);
}

.snakeBody {
  background-color: rgb(16, 196, 16);
}

.fruit {
  background-color: lightcoral;
}
